<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Never Stop Learning, Because Life Never Stop Teaching</h1>
            <hr>
            <p>Jika Anda tidak bersedia untuk belajar, tidak ada yang dapat membantu Anda. Jika Anda bertekad untuk belajar, tidak ada yang dapat menghentikan Anda</p>
            <p><h6>@behappy_me</h6></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
