<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Aktivitas saya</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart-o wow bounceIn text-primary"></i>
                    <h3>Berdoa</h3>
                    <p class="text-muted">Kewajiban saya sebagai muslim yang taat agama "Amin."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-child wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Olahraga</h3>
                    <p class="text-muted">Rutinitas sebelum berangkat Kuliah</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Kuliah</h3>
                    <p class="text-muted">Kesempatan untuk meraih kesuksesan</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tidur</h3>
                    <p class="text-muted">Aktivitas yang wajib untuk dilakukan</p>
                </div>
            </div>
        </div>
    </div>
</section>
